doctype html5
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html; charset=utf8")
        title stream::cardholder
        link(href="css/app.css?{!major!}.{!minor!}.{!maintenance!}.{!build!}", rel="stylesheet")
        script(type="text/javascript", src="js/app.js?{!major!}.{!minor!}.{!maintenance!}.{!build!}")
        script(type="text/javascript").
            require("scripts/app")
body
    #container.container
